<div class='container'>
  <h3>商品一覧</h3>
  <div class="d-flex justify-content-end container" style="margin-top:-40px">
    <%= link_to new_admin_item_path do %>
      <i class="fa fa-plus-circle fa-2x" style="color: black;"></i>
    <% end %>
  </div>

  <table class='table'>
    <thead>
       <tr class="table-secondary">
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name, admin_item_path(item.id) %></td>
          <td><%= item.price.to_s(:delimited) %></td>
          <td><%= item.genre.name %></td>
          <td><%= item.is_active %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center container"><%= paginate @items %></div>
</div>