<div class='container'>
  <h3>商品詳細</h3>
  <div class='row'>
    <%= image_tag @item.get_item_image(300,600) %>
    <div class="col-sm-30 col-lg-5 px-sm-0 mx-auto">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>商品名</th>
            <td><%= @item.name %></td>
          </tr>

          <tr>
            <th>商品説明</th>
            <td><%= @item.introduction %></td>
          </tr>

          <tr>
            <th>ジャンル</th>
            <td><%= @item.genre.name %></td>
          </tr>

          <tr>
            <th>税込価格(税抜価格)</th>
            <td><%= @item.price %></td>
          </tr>

          <tr>
            <th>販売ステータス</th>
            <td><%= @item.is_active %></td>
          </tr>
        </thead>
      </table>

      <div class="text-center">
        <%= link_to '編集する',  edit_admin_item_path(@item.id), class: "btn btn-success" %>
      </div>

    </div>
  </div>
</div>