<div class='container'>
  <h3>会員一覧</h3>

  <table class='table'>
    <thead>
      <tr class="table-secondary">
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to customer.last_name+customer.first_name, admin_customer_path(customer.id)%></td>
          <td><%= customer.email %></td>
          <td><%= customer.is_deleted %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @customers %>
</div>