<div class='container'>
  <h3>注文履歴詳細</h3>

  <div class='row'>
    <div class="col">
      <%= form_with model: @order, url: admin_order_path do |f| %>
        <div class="form-group">
          <%= f.label :name, "購入者", class: "col-sm-4 col-form-label" %>
          <%= @customer.last_name+@customer.first_name %>
        </div>

        <div class="form-group">
          <%= f.label :created_at, "注文日", class: "col-sm-4 col-form-label" %>
          <%= @customer.created_at.strftime('%Y/%m/%d') %>
        </div>

        <div class="form-group">
          <%= f.label :postal_code, "配送先", class: "col-sm-4 col-form-label" %>
          〒<%= @customer.postal_code.to_s.insert(3, "-") %>　<%= @customer.address %>
        </div>

        <div class="form-group">
          <%= f.label :payment_method, "支払方法", class: "col-sm-4 col-form-label" %>
          <%#<%= .payment_method_i18n %>
        </div>

        <div class="form-group">
          <%= f.label :status, "注文ステータス", class: "col-sm-4 col-form-label" %>
          <%= f.select :status, Order.statuses_i18n.invert.keys, class: "status_i18n" %>　<%= f.submit "更新" , class: "btn btn-success" %>
        </div>
      <% end %>

      <table class="table table-bordered">
        <thead>
          <tr class="table-secondary">
            <th class="">商品名</th>
            <th class="">単価(税込)</th>
            <th class="">数量</th>
            <th class="">小計</th>
            <th class="">制作ステータス</th>
          </tr>
        </thead>
        <tbody>
         <% @cart_items.each do |cart_item| %>
          <% @cart_item = CartItem.find(cart_item.id) %>
          <%= form_with model: @cart_item, url: cart_item_path(cart_item.id) do |f| %>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
              <td><%= cart_item.amount %></td>
              <td><%= cart_item.subtotal.to_s(:delimited)%></td>
              <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, "data-confirm" => "削除しますか?", class: "btn btn-sm btn-danger" %></td>
              <% @total+=cart_item.subtotal %>
            </tr>
           <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>