<div class='container'>
  <h3>ショッピングカート</h3>
  <div class="col">
    <div class='row'>
      <table class='table'>
        <thead>
          <tr class="table-secondary">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>合計金額</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <% @cart_item = CartItem.find(cart_item.id) %>
           <%= form_with model: @cart_item, url: cart_item_path(cart_item.id) do |f| %>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td><%= cart_item.item.with_tax_price %></td>
              <td><%= f.select :amount, [*1..100], value: cart_item.amount %></td>
              <td><%= cart_item.subtotal%></td>
              <td></td>
            </tr>
           <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>