<div class='container'>
  <h3>注文履歴詳細</h3>
  <div class="col">
    <div class='row'>
      <table class="table table-bordered">
        <h5>注文情報</h5>
          <tr>
            <th class="table-secondary">注文日</th>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          <tr>
            <th class="table-secondary">配送先</th>
            <td>
              〒<%= @order.postal_code %><br>
              <%= @order.address %><br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <th class="table-secondary">支払方法</th>
            <td><%= @order.payment_method_i18n%></td>
          </tr>
          <tr>
            <th class="table-secondary">ステータス</th>
            <td><%= @order.status_i18n %></td>
          </tr>
      </table>

      <table class="table table-bordered">
        <h5>請求情報</h5>
        <% @order_details.each do |order_detail| %>
        <% @total = 0 %>
        <% @total += order_detail.item.with_tax_price %>
        <tr>
          <th class="table-secondary">商品合計</th>
          <td><%= order_detail.item.with_tax_price %></td>
        </tr>
        <tr>
          <th class="table-secondary">配送料</th>
          <td>800</td>
        </tr>
        <tr>
          <th class="table-secondary">ご請求額</th>
          <td><%= @total + 800 %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
