<div class='container'>
  <h3>注文履歴詳細</h3>
  <div class="col">
    <div class='row'>
      <table class="table table-bordered">
        <h5>注文情報</h5>
          <tr>
            <td class="table-secondary">注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          <tr>
            <td class="table-secondary">配送先</td>
            <td>
              〒<%= @order.postal_code %><br>
              <%= @order.address %><br>
              <%= @order.full_name %>
            </td>
          </tr>
          <tr>
            <td class="table-secondary">支払方法</td>
            <td><%= @order.payment_method_i18n%></td>
          </tr>
          <tr>
            <td class="table-secondary">ステータス</td>
            <td><%= @order.status_i18n %></td>
          </tr>
      </table>

      <table class="table table-bordered">
        <h5>請求情報</h5>
        <% @total = 0 %>

        <tr>
          <td class="table-secondary">商品合計</td>
          <td><%= @order.total_payment - 800 %></td><!-- カンマ入れ方 -->
        </tr>
        <tr>
          <td class="table-secondary">配送料</td>
          <td>800</td>
        </tr>
        <tr>
          <th class="table-secondary">ご請求額</th>
          <td><%= @order.total_payment.to_s(:delimited)%></td>
        </tr>
      </table>


      <table class="table table-bordered">
        <h5>注文内容</h5>
        <thead>
          <tr>
            <td>商品名</td>
            <td>単価(税込)</td>
            <td>個数</td>
            <td>小計</td>
          </tr>
        </thead>
        <tbody>
          <% @total = 0 %>
          <% @order_details.each do |order_detail| %>
          <% @total += order_detail.subtotal %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.item.with_tax_price.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.subtotal.to_s(:delimited) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
