<div class='container'>
  <div class="col">
    <h3>商品一覧<span class="small">(全<%= @items_count %>件)</span></h3>
  </div>
  <div class='row'>
    <% @items.each do |item| %>
      <div class="col">
        <%= link_to item_path(item.id) do %>
          <p><%= image_tag item.get_item_image(200,200) %></p>
        <% end %>
        <p><%= item.name %></p>
        <p>¥<%= item.price.to_s(:delimited) %>円</p>
      </div>
    <% end %>
  </div>
</div>