<div class='container'>
  <h3>商品詳細</h3>
  <div class='row'>
    <div class="col-4 mx-auto">
      <%= image_tag @item.get_item_image(300,300) %>
    </div>
    <div class="col-8 mx-auto">
      <div class="col">
        <h3><%= @item.name %></h3>
        <p><%= @item.introduction %></p>
        <p>¥<%= @item.add_tax_price.to_s(:delimited) %><span class="small">(税込)</span></p>
        <%= form_with model: @item, url: items_path do |f| %><!-- urlはカートアイテムのpath -->
        <div class="row gx-3 gy-2 align-items-center">
          <div class="col-sm-3"><%= f.select :product_number, [*1..100] , options = { include_blank: "個数選択"}, :style => "width:136px" %></div>
          <div class="col-sm-3"><%= f.submit "カートに入れる", class:"btn btn-success" %></div>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>